<img src="images/free-nature-images.jpg">

<img src="images2/orangutan_1600x1000_279157.jpg">

<head>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="styles/styles.css">
</head>
<body>
<div>
    <h1>CSS Example</h1>
    <p>Monkey is funny</p>
</div>
</body>
